<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
       <add name="Access-Control-Allow-Methods"  value="POST, GET, OPTIONS" />
	   <add name="Accept" value="application/json" />
	   <add name="ContentType" value="application/json" />
	   <add name="Authorization" value="Bearer CE8F9C763E919C7600000000F700FC0580F6142EE61E72B3867DAFEC900AE7C0A54746A9C2E1BF35BF50798B21997EF89" />
	</customHeaders>
   </httpProtocol>
 </system.webServer>
</configuration>